<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, check out this image!</h1>
    <p>
      <%= image_tag(@image.link) %><br>
    </p>
    <p><%= @message %></p>
  </body>
</html>